In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Coral,US,2022-10-30 23:26:34,26.5629,-81.9495,84.00,61,0,6.91
1,1,Hobart,AU,2022-10-30 23:21:45,-42.8794,147.3294,67.86,64,20,24.16
2,2,Nanortalik,GL,2022-10-30 23:26:34,60.1432,-45.2371,25.50,69,99,8.97
3,3,Tamworth,GB,2022-10-30 23:25:25,52.6340,-1.6959,54.52,91,77,7.00
4,4,Whitehaven,GB,2022-10-30 23:26:35,54.5490,-3.5841,54.66,100,21,14.00

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:


# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Coral,US,2022-10-30 23:26:34,26.5629,-81.9495,84.00,61,0,6.91
10,10,Pouebo,NC,2022-10-30 23:26:37,-20.4000,164.5667,81.77,59,0,1.57
11,11,San Patricio,US,2022-10-30 23:26:38,28.0170,-97.5169,78.89,38,48,2.15
12,12,Balikpapan,ID,2022-10-30 23:26:38,-1.2675,116.8289,79.79,94,20,4.61
14,14,Pointe Michel,DM,2022-10-30 23:26:39,15.2500,-61.3833,75.49,78,98,5.10
15,15,Kapaa,US,2022-10-30 23:26:40,22.0752,-159.3190,85.98,73,40,14.97
16,16,Niamey,NE,2022-10-30 23:25:12,13.5137,2.1098,80.89,26,0,2.30
19,19,Cabo San Lucas,MX,2022-10-30 23:23:19,22.8909,-109.9124,84.61,57,20,12.66
23,23,Cockburn Town,TC,2022-10-30 23:26:43,21.4612,-71.1419,82.13,76,2,17.90
29,29,Vaini,TO,2022-10-30 23:26:45,-21.2000,-175.2000,80.76,83,100,9.22

In [20]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Cape Coral      US     84.00  26.5629  -81.9495
10          Pouebo      NC     81.77 -20.4000  164.5667
11    San Patricio      US     78.89  28.0170  -97.5169
12      Balikpapan      ID     79.79  -1.2675  116.8289
14   Pointe Michel      DM     75.49  15.2500  -61.3833
15           Kapaa      US     85.98  22.0752 -159.3190
16          Niamey      NE     80.89  13.5137    2.1098
19  Cabo San Lucas      MX     84.61  22.8909 -109.9124
23   Cockburn Town      TC     82.13  21.4612  -71.1419
29           Vaini      TO     80.76 -21.2000 -175.2000

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cape Coral,US,84.00,26.5629,-81.9495,Hampton Inn & Suites - Cape Coral/Fort Myers A...
10,Pouebo,NC,81.77,-20.4000,164.5667,RIVÂT LODGE
11,San Patricio,US,78.89,28.0170,-97.5169,"Motel 6 Sinton, TX"
12,Balikpapan,ID,79.79,-1.2675,116.8289,Swiss-Belhotel Balikpapan
14,Pointe Michel,DM,75.49,15.2500,-61.3833,Roseau Hostel & Beach Front Property
15,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Niamey,NE,80.89,13.5137,2.1098,Soluxe Hotel Niamey
19,Cabo San Lucas,MX,84.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
23,Cockburn Town,TC,82.13,21.4612,-71.1419,Osprey Beach Hotel
29,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """


Hotel Name
    {Hotel Name}
City
{City}
Country
{Country}
Max Temp
    {Max Temp} °F

"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))